.cancelButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button[type="submit"] {
  border-radius: 4px;
  background-color: rgb(248 185 42);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.formBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 8px;
  font-weight: 700;
}

.inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 8px;
}

label {
  flex: 1;
}
input {
  flex: 4;
  padding: 12px 20px;
  font-size: large;
}

input::placeholder {
  opacity: 50%;
}

.formButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.btncontainer{
  margin-top: 5%;
}